body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 218, 153);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    text-align: center;
}
.header_text{
    font-size: 4em;
    color: blueviolet;
    text-shadow: 10px 2px 10px rgb(174, 109, 236);
    animation: float 3s ease-out infinite;
}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}